.issues-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 70px;
}

.issues-container p {
  margin: 0;
}

.issues-container ol {
  padding-left: 15px;
}

.issues-container .card .card-footer {
  background-color: transparent;
  text-align: center;
}

.single-issue {
  min-height: 310px;
  margin-bottom: 15px;
  max-width: 500px;
  padding: 10px;
  width: 100%;
}

.single-issue .delete {
  float: right;
}

.single-issue .request {
  display: block;
  margin: 0 auto;
}

.notice {
  font-size: 16px;
  padding: 0px;
}

.change-label {
    color: white;
    padding: 3px;
    cursor: pointer;
}

.open {background-color: #4CAF50;}
.closed {background-color: #f44336;}

@media screen and (min-width: 576px) {
  .issues-container {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 75px;
  }

  .single-issue {
    min-height: 330px;
    width: 500px;
  }
}

.dropdown-item{
        cursor: pointer;
    }
  #more-issues {
      color: azure;
      font-weight: bold;
  }
  .open,.closed {
      font-size: 14px;
  } 
  .delete {
      font-size: 14px;
  }
  .upV, .downV {
      margin-left: 3px; 
  }


  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}