.issues-container {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.issues-container ol {
  padding-left: 15px;
}

.issues-container .card .card-footer {
  background-color: transparent;
  text-align: center;
}

.single-issue {
  max-width: 500px;
  padding: 10px;
}

.single-issue:not(:last-child) {
  margin-bottom: 15px;
}

.single-issue .delete {
  float: right;
}

.single-issue .request {
  display: block;
  margin: 0 auto;
}

.notice {
  font-size: 16px;
}
