

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: blanchedalmond;
    padding: 4px;
    position: fixed;
    z-index: 100;
}
.nav a {
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
}
.issues {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 25%;
    cursor: pointer;
}
.contrihub {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 25%;
    cursor: pointer;
}
.leaderboard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 25%;
    cursor: pointer;
}
.profile {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 25%;
    cursor: pointer;
}

