{% extends "Projects/base.html" %}
{% load staticfiles %}

{% block title_extra %}Home - {% endblock title_extra %}

{% block head_extra %}

<link type="text/css" rel="stylesheet" href="static/Projects/css/materialize.min.css"  media="screen,projection"/>

<style>
    .error_signin, .error_register {
        color:brown;
        padding: 2px;
        font-size: 12px;
    }
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .registration {
        background-color: bisque;
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        margin-top: 100px;
    }
</style>

{% endblock head_extra %}

{% block body_content %}

    <div class="container" style="margin: auto;">
        <div class="card" style="width: 500px; margin: auto;">
            <div class="card-body mx-4">
                <div class="card-title">
                    <h4 style="font-family: Cormorant Infant">Welcome to ContriHUB</h4>
                </div>
                
                <div class="signin">
                    {% if error_signin %}
                        <span class="error_signin">There is no user with this username, You need to register first!</span>
                    {% elif error_inactive %}
                    <span class="error_signin">You are a mentor and you are yet to be verified, contact 
                        <a href="mailto:deepakbharti@mnnit.ac.in">Deepak</a> |
                        <a href="mailto:abhey.mnnit@gmail.com">Abhey</a> |
                        <a href="mailto:akshay31057@gmail.com">Akshay</a>
                    </span>
                    {% endif %}
                    <form action="{% url 'signin' %}" class="form_login" method="post" autocomplete="off">
                        {% csrf_token %}
                        <div class="md-form">
                            <input type="text" name="username" id="form1" class="form-control" required="true">
                            <label for="form1">GitHub Username</label>
                        </div>
                        <div class="md-form">
                            <input type="password" name="password" id="form2" class="form-control" required="true">
                            <label for="form2">Password</label>
                            <p class="font-small blue-text d-flex justify-content-end">Forgot
                                <a href="#" class="blue-text ml-1"> Password?</a>
                            </p>
                        </div>
                        <div class="text-center mb-3">
                            <button class="submit btn btn-indigo"> Login </button>
                        </div>
                        <div class="modal-footer mx-5 pt-3 mb-1">
                                <p class="font-small grey-text d-flex justify-content-end">Not a member?
                                    <span class="signup_text blue-text ml-1"> SignUp </span>
                                </p>
                        </div>
                    </form>
                </div>

                <div class="signup">
                    {% if error_register %}
                        <span class="error_register">User with this username already exists!</span>
                    {% endif %}

                    <form action="{% url 'register' %}" class="form_register" method="post" autocomplete="off">
                        {% csrf_token %}
                        <div class="md-form">
                            <input type="text" name="username" id="form3" class="form-control" required="true">
                            <label for="form3">GitHub Username</label>
                        </div>
                        <div class="md-form">
                            <input type="password" name="password" id="form4" class="form-control" required="true">
                            <label for="form4">Password</label>
                        </div>
                        <div class="md-form">
                            <input type="password" name="confirm-password" id="form5" class="form-control" required="true">
                            <label for="form5">Confirm Password</label>
                            <span id="confirm-password-message"></span>
                        </div>
                        <div class="md-form">
                            <input type="text" name="email" id="form6" class="form-control" required="true">
                            <label for="form6">Email Address</label>
                        </div>
                        <br>
                        <div class="input-field">
                            <select name="gender" placeholder="gender" required="true">
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select> 
                            <label>Gender</label>
                        </div>
                        <br>
                        <div class="input-field">
                            <select name="role" placeholder="Select your Role" required="true">
                                <option>student</option>
                                <option>mentor</option>
                                <label>Role</label>
                            </select>
                            <label>Role</label>
                        </div>
                        <br>
                        <div class="text-center mb-3">
                            <button class="submit btn btn-indigo" id="btn-register"> Register </button>
                        </div>
                        <div class="modal-footer mx-5 pt-3 mb-1">
                                <p class="font-small grey-text d-flex justify-content-end">Already a member?
                                    <span class="signin_text blue-text ml-1"> Sign In </span>
                                </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock body_content %}


{% block js_extra %}
{% if error_register %}
    <script>
        $(document).ready(function(){
            $(".signin").hide();
        });
    </script>
{% else %}
    <script>
        $(document).ready(function(){
            $(".signup").hide();
        });
    </script>    
{% endif %}

<script type="text/javascript">
    $(document).ready(function(){
        $(".signup_text").click(function () {
            $(".signin").hide(); //$("#human").removeClass('bottom');
            $(".signup").show();  //$("#product").addClass('bottom');
        });
        
        $(".signin_text").click(function () {
            $(".signup").hide(); //  $("#product").removeClass('bottom');
            $(".signin").show();  // $("#human").addClass('bottom');
        });

        $('select').formSelect();

        // check password and confirm password
        $('#form4, #form5').on('keyup', function () {
            if ($('#form4').val() == $('#form5').val()) {
                $('#btn-register').removeAttr('disabled','disabled');
                $('#confirm-password-message').html('Matching').css('color', 'green');
            } else {
                $('#btn-register').attr('disabled','disabled');
                $('#confirm-password-message').html('Not Matching').css('color', 'red');
            }
        });
    })      
</script>
{% endblock js_extra %}