{% extends "Projects/base.html" %}
{% load staticfiles %}

{% block title_extra %}Home - {% endblock title_extra %}

{% block head_extra %}
<link href="{% static 'Users/css/login.css' %}" rel="stylesheet">     
<style>
    .error_signin, .error_register {
        color:brown;
        padding: 2px;
        font-size: 12px;
    }
</style>
{% endblock head_extra %}


{% block body_content %}
    <div class="registration">
        <h1>Welcome to ContriHub</h1>
        
        <span class="signin_text"> SignIn </span>
        <span class="signup_text"> SignUp </span>
        
        <div class="signin">
            {% if error_signin %}
                <span class="error_signin">There is no user with this username, You need to register first!</span>
            {% elif error_inactive %}
            <span class="error_signin">You are a mentor and you are yet to be verified, contact 
                <a href="mailto:deepakbharti@mnnit.ac.in">Deepak</a> |
                <a href="mailto:abhey@mnnit.ac.in">Abhey</a> |
                <a href="mailto:akshay31057@gmail.com">Akshay</a>
            </span>
            {% endif %}
            <form action="{% url 'signin' %}" class="form_login" method="post" autocomplete="off">
                {% csrf_token %}
                <input type="text" name="username" placeholder="put your github username" required><br>
                <input type="password" name="password" placeholder="password" required ><br>
                <button type="submit">Login</button><br>
            </form>
        </div>

        <div class="signup">
            {% if error_register %}
                <span class="error_register">User with this username already exists!</span>
            {% endif %}

            <form action="{% url 'register' %}" class="form_register" method="post" autocomplete="off">
                {% csrf_token %}
                <input type="text" name="username" placeholder="put your github username" required><br>
                <input type="password" name="password" placeholder="password" required><br>
                <input type="text" name="email" placeholder="Email Address" required><br>
                
                <select name="gender" placeholder="gender" required><br>
                    <option>Gender</option>
                    <option>Female</option>
                    <option>Male</option>
                    <option>Other</option>
                </select> 
                <select name="role" placeholder="Select your Role" required><br>
                    <option>student</option>
                    <option>mentor</option>
                </select> 
                <i class="fa fa-user fa-1x"></i>
                <br>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>

{% endblock body_content %}


{% block js_extra %}
{% if error_register %}
    <script>
        $(document).ready(function(){
            $(".signin").hide();
        });
    </script>
{% else %}
    <script>
        $(document).ready(function(){
            $(".signup").hide();
        });
    </script>    
{% endif %}

<script type="text/javascript">
    $(document).ready(function(){
        $(".signup_text").click(function () {
            $(".signin").hide(); //$("#human").removeClass('bottom');
            $(".signup").show();  //$("#product").addClass('bottom');
        });
        
        $(".signin_text").click(function () {
            $(".signup").hide(); //  $("#product").removeClass('bottom');
            $(".signin").show();  // $("#human").addClass('bottom');
        });
    })      
</script>
{% endblock js_extra %}