{% extends "Projects/base.html" %}
{% load staticfiles %}

{% block title_extra %}Home - {% endblock title_extra %}

{% block head_extra %}


<link type="text/css" rel="stylesheet" href="{% static 'Projects/css/materialize.min.css' %}"  media="screen,projection"/>

<link type="text/css" rel="stylesheet" href="{% static 'Projects/css/login.css' %}"/>
{% endblock head_extra %}

{% block body_content %}

    <div class="container" style="margin: auto;">
        <div class="card" style="width: 500px; margin: auto;">
            <div class="card-body mx-4">
                <div class="card-title">
                    <h4 style="font-family: Cormorant Infant">Welcome to ContriHUB</h4>
                </div>
                   
                <div class="signin">
                    {% if error_password %}
                        <span class="error_register">Wrong Password :-(</span>
                    {% elif error_signin %}
                        <span class="error_signin">There is no user with this username, You need to register first!</span>
                    {% elif error_inactive %}
                    <span class="error_signin">You are a mentor and you are yet to be verified, contact 
                        <a href="mailto:deepakbharti@mnnit.ac.in">Deepak</a> |
                        <a href="mailto:abhey.mnnit@gmail.com">Abhey</a> |
                        <a href="mailto:akshay31057@gmail.com">Akshay</a>
                    </span>
                    {% endif %}
                        <form action="{% url 'signin' %}" class="form_login" method="post" autocomplete="off">
                            {% csrf_token %}
                            <div class="md-form">
                                <input type="text" name="username" id="form1" class="form-control" required="true">
                                <label for="form1">GitHub Username</label>
                            </div>
                            <div class="md-form">
                                <input type="password" name="password" id="form2" class="form-control" required="true">
                                <label for="form2">Password</label>
                                <p class="forgot_pass_text font-small blue-text d-flex justify-content-end">Forgot Password?
                                </p>
                            </div>
                            <div class="text-center mb-3">
                                <button class="submit btn btn-indigo"> Login </button>
                            </div>
                            <div class="modal-footer mx-5 pt-3 mb-1">
                                <p class="font-small grey-text d-flex justify-content-end">Not a member?
                                    <a class="signup_text blue-text ml-1"> SignUp </a>
                                </p>
                            </div>
                        </form>
                    </div>

                <div class="signup">
                    {% if error_register %}
                        <span class="error_register">User with this username already exists!</span>
			{% elif error_pass %}
                        	<span class="error_pass">Password didnt match!</span>
                    {% endif %}

                    <form action="{% url 'register' %}" class="form_register" method="post" autocomplete="off">
                        {% csrf_token %}
                        <div class="md-form">
                            <input type="text" name="username" id="form3" class="form-control" required="true" autocomplete="off">
                            <label for="form3">GitHub Username</label>
                        </div>
                        <div class="md-form">
                            <input type="password" name="password" id="form4" class="form-control" required="true" autocomplete="off">
                            <label for="form4">Password</label>
                        </div>
			<div class="md-form">
                            <input type="password" name="confirm_assword" id="form5" class="form-control" required="true" autocomplete="off">
                            <label for="form5">Confirm Password</label>
                        </div>
                        <div class="md-form">
                            <input type="text" name="email" id="form6" class="form-control" required="true">
                            <label for="form6">Email Address</label>
                        </div>
                        <br>
                        <div class="input-field">
                            <select name="gender" placeholder="gender" required="true">
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select> 
                            <label>Gender</label>
                        </div>
                        <br>
                        <div class="input-field">
                            <select name="role" placeholder="Select your Role" required="true">
                                <option>student</option>
                                <option>mentor</option>
                                <label>Role</label>
                            </select>
                            <label>Role</label>
                        </div>
                        <br>
                        <div class="text-center mb-3">
                            <button class="submit btn btn-indigo"> Register </button>
                        </div>
                        <div class="modal-footer mx-5 pt-3 mb-1">
                                <p class="font-small grey-text d-flex justify-content-end">Already a member?
                                    <a class="signin_text blue-text ml-1"> Sign In </a>
                                </p>
                        </div>
                    </form>
                </div>
                <div class="forgot_pass">
                    
                    <form action="{% url 'forgot_pass' %}" class="form_login" method="post" autocomplete="off">
                        {% csrf_token %}
                        <div class="md-form">
                            <input type="text" name="username" id="form6" class="form-control" required="true">
                            <label for="form1">GitHub Username</label>
                        </div>
                        {% if error_username_verify %}
                             <span class="error_username_verify">User with this username doesn't exists!</span>
                        {% endif %}
                         
                        <div class="text-center mb-3">
                            <button class="submit btn btn-indigo"> Send Verification code </button>
                        </div>
                        
                        <div class="modal-footer mx-5 pt-3 mb-1">
                            <p class="font-small grey-text d-flex justify-content-end">Not a member?
                                <span class="signup_text blue-text ml-1"> SignUp </span>
                            </p>
                        </div>
                    </form>
                </div>
                
                <div class="verify">
	                <form action="{% url 'verify' %}" class="form_login" method="post" autocomplete="off">	
	                	{% csrf_token %}
	                	{% if mail_sent %}
                             <span class="mail_sent">Verification code has been sent to your mail!</span>
                        {% endif %}
	                    <div class="md-form">
	                        <input type="text" name="code" id="form7" class="form-control">
	                        <label for="form7">Enter code</label>
	                    </div>
	                    {% if not_verified %}
                             <span class="not_verified">Code didn't match!</span>
                        {% endif %}
                        <div class="text-center mb-3">
                            <button class="submit btn btn-indigo"> Verify </button>
                        </div>
                        <div class="modal-footer mx-5 pt-3 mb-1">
                            <p class="font-small grey-text d-flex justify-content-end">Not a member?
                                <span class="signup_text blue-text ml-1"> SignUp </span>
                            </p>
                        </div>                        
		            </form>
                </div>
                <div class="change_pass">
	                	<form action="{% url 'change_pass' %}" class="form_login" method="post" autocomplete="off">	
    	                	{% csrf_token %}
	                    	{% if verified %}
                                <span class="verified">Verified!</span>
                            {% endif %}
	                        <div class="md-form">
	                            <input type="password" name="new_password" id="form7" class="form-control">
	                            <label for="form7">New Password</label>
	                        </div>
	                        <div class="text-center mb-3">
                                <button class="submit btn btn-indigo"> Change </button>
                            </div>
                            <div class="modal-footer mx-5 pt-3 mb-1">
                                <p class="font-small grey-text d-flex justify-content-end">Not a member?
                                    <span class="signup_text blue-text ml-1"> SignUp </span>
                                </p>
                            </div>
            	       </form>
                </div>
            </div>
        </div>
    </div>
		
{% endblock body_content %}

{% block js_extra %}
{% if error_register  or error_pass%}
    <script>
        $(document).ready(function(){
            $(".signin").hide();
            $(".forgot_pass").hide();
            $(".verify").hide();
            $(".change_pass").hide();
        });
    </script>
{% else %}
    {% if error_username_verify %}
    <script>
        $(document).ready(function(){
            $(".signin").hide();
            $(".signup").hide();
            $(".verify").hide();
            $(".change_pass").hide();
        });
    </script>
    {% else %}
        <script>
            $(document).ready(function(){
                $(".signup").hide();
                $(".forgot_pass").hide();
                $(".verify").hide();
                $(".change_pass").hide();
            });
        </script>    
   {% endif %}
{% endif %}
{% if mail_sent %}
    <script>
        $(document).ready(function(){
            $(".signin").hide();
            $(".signup").hide();
            $(".forgot_pass").hide();
            $(".verify").show();
            $(".change_pass").hide();
        });
    </script>    
{% endif %}
{% if verified %}
    <script>
        $(document).ready(function(){
            $(".signin").hide();
            $(".signup").hide();
            $(".forgot_pass").hide();
            $(".verify").hide();
            $(".change_pass").show();
        });
    </script>
{% elif not_verified %}
    <script>
        $(document).ready(function(){
            $(".signin").hide();
            $(".signup").hide();
            $(".forgot_pass").hide();
            $(".verify").show();
            $(".change_pass").hide();
        });
    </script>
{% endif %}

{% if pass_changed %}
<script>
    alert("Password changed successfully!");
</script>
{% endif %}

<script type="text/javascript">
    $(document).ready(function(){
        $(".signup_text").click(function () {
            $(".signin").hide(); 
            $(".signup").show();
            $(".forgot_pass").hide();
            $(".verify").hide();
            $(".change_pass").hide(); 
        });
        
        $(".signin_text").click(function () {
            $(".signup").hide(); 
            $(".signin").show();
            $(".forgot_pass").hide();
            $(".verify").hide();
            $(".change_pass").hide();  
        });
	
    	$(".forgot_pass_text").click(function () {
            $(".signup").hide(); 
            $(".signin").hide();
		    $(".forgot_pass").show();
		    $(".change_pass").hide();
		    $(".verify").hide();
        });  
        $('select').formSelect();
        
       }) 
</script>
{% endblock js_extra %}
