{% extends "Projects/base.html" %}
{% load crispy_forms_tags %}

{% block head_extra %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock head_extra %}

{% block body_content %}
<div class="container p-5">
<div class="card">
  <div class="card-header">
    Just one more step
  </div>
  <div class="card-body">
    <h5 class="card-title">Change password</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    {% if validlink %}
    <form method="post" >
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
  </div>
</div>
</div>
{% endblock body_content %}