{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static 'Projects/img/favicon.png' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'Projects/img/favicon.png' %}"/>

    <link href='https://fonts.googleapis.com/css?family=Cormorant Infant' rel='stylesheet'>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'Projects/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{% static 'Projects/css/mdb.min.css' %}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{% static 'Projects/css/style.min.css' %}" rel="stylesheet">

    <link type="text/css" href="{% static 'Projects/css/base.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'Projects/css/issues.css' %}" rel="stylesheet">


    <title>
        {% block title_extra %} {% endblock title_extra %} ContriHub
    </title>

    <style>
        /* don't remove this body style in separate file */
        body {
            background: #1C2331 url("{% static 'Projects/img/background.jpg' %}") no-repeat center center fixed;
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            opacity: 0.8;
            z-index: -100;
        }
    </style>

    {% block head_extra %}
    {% endblock head_extra %}

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "contrihubs.herokuapp.com",
            "logo": "logo_image",
            "contactPoint": [
            { "@type": "ContactPoint",
            "telephone": "7275036250",
            "contactType": "Phone"
        }
        ],
        "sameAs": [
        "facebook_link",
        "quora_link",
        "twitter_link",
        ]
    }
    </script>
</head>

<body>

    {% block body_content %}
    {% endblock body_content %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

{% block js_extra %}
{% endblock js_extra %}

    <script type="text/javascript" src="{% static 'Projects/js/jquery-3.3.1.min.js' %}"></script>
    <!-- Waypoints  -->
    <script type="text/javascript" src="{% static 'Projects/js/jquery.waypoints.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'Projects/js/addons/infinite.min.js' %}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{% static 'Projects/js/popper.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{% static 'Projects/js/bootstrap.min.js' %}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'Projects/js/mdb.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'Projects/js/materialize.min.js' %}"></script>
    <!-- Initializations -->
    <script type="text/javascript">
      // Animations initialization
      new WOW().init();
    </script>
</body>
</html>
