{% extends "Projects/base.html" %}
{% load staticfiles %}
 {% block title_extra %}Contributions {% endblock title_extra %}
 {% block body_content %}
 {% include 'Projects/navbar.html' %}
<div class="container" style="margin-top:80px; color:#41f4c1">
    
    <h2 style="text-align:center;">Solved Issues!!</h2>
    <hr style="background-color:#42f4eb">

    <div class="col prs_vclosed">
    <br>
    {% if prs_vclosed %}
    <div class="container">
        {% for pr in prs_vclosed %}
        <div class="card">
            <div class="card-body">
                <div class="card-title">
                    {{forloop.counter}}. Issue -
                    <a href="{{pr.issue.link_issue}}" class="pr_info" pr-id="{{pr.id}}"> {{pr.issue.title_issue}}</a> <br>
                </div>
                <div class="card-text">

                    {% if pr.pr_link %}
                        Pr Link - <a href="{{pr.pr_link}}"> see pr </a> <br>
                    {% endif %}

                    From User - <a href="https://github.com/{{pr.from_user.username}}"> {{pr.from_user.username}} </a> <br>

                    Project -
                    <a href="{{pr.issue.link_project}}"> {{pr.issue.title_project}}</a> <br>

                    Mentor -
                    <a href="https://github.com/{{pr.issue.mentor}}"> {{pr.issue.mentor}}</a> <br>

                    Label -
                    {% if pr.issue.level == 1 %}
                    Easy
                    {% elif pr.issue.level == 2 %}
                    Medium
                    {% elif pr.issue.level == 3 %}
                    Hard
                    {% endif %}
                    <br>
                    <p>Expected Points - {{pr.issue.points}}</p>
                    <p style="color:green">Bonus Points - {{pr.bonus_points}}</p>
                    <p style="color:red">Deducted Points - {{pr.deducted_points}}</p>

                </div>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>

    {% else %}
        <div class="container"><h4 style="text-align:center">No solved Issues.</h4></div>
    {% endif %}
</div>


<br>
<br>
<br>


<h2 style="text-align:center;">Pending PRs!!</h2>
<hr style="background-color:#42f4eb">

<div class="col prs_vclosed">
        <br>
{% if prs_pending %}
<div class="container">
    {% for pr in prs_pending %}
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                {{forloop.counter}}. Issue -
                <a href="{{pr.issue.link_issue}}" class="pr_info" pr-id="{{pr.id}}"> {{pr.issue.title_issue}}</a> <br>
            </div>
            <div class="card-text">

                {% if pr.pr_link %}
                    Pr Link - <a href="{{pr.pr_link}}"> see pr </a> <br>
                {% endif %}

                From User - <a href="https://github.com/{{pr.from_user.username}}"> {{pr.from_user.username}} </a> <br>

                Project -
                <a href="{{pr.issue.link_project}}"> {{pr.issue.title_project}}</a> <br>

                Mentor -
                <a href="https://github.com/{{pr.issue.mentor}}"> {{pr.issue.mentor}}</a> <br>

                Label -
                {% if pr.issue.level == 1 %}
                Easy
                {% elif pr.issue.level == 2 %}
                Medium
                {% elif pr.issue.level == 3 %}
                Hard
                {% endif %}
                <br>
                Expected Points - {{pr.issue.points}}

            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% else %}
    <div class="container"><h4 style="text-align:center">No Pending PRs.</h4></div>
{% endif %}
</div>

</div>
 {% endblock body_content %}