{% extends "Projects/base.html" %} 
{% load staticfiles %} 

{% block title_extra %}Home - {% endblock title_extra %} 

{% block head_extra %} 
<link type="text/css" href="{% static 'Projects/css/home.css' %}" rel="stylesheet">
{% endblock head_extra %} 

{% block body_content %} 

{% include 'Projects/navbar.html' %}

<!-- model form for adding issues -->

<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Add Issue</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        <form action="{% url 'new_issue' %}" method="POST">
            <input type="hidden" value="0" name="mode" id="mode">
            <input type="hidden" value="" name="issue_id" id="issue_id">
            {% csrf_token %}
            <div class="modal-body mx-3">

                <div class="md-form mb-5">
                    <i class="fa fa-tag prefix grey-text"></i>
                    <input type="text" id="mentori" class="form-control validate" name="mentor_name" required>
                    <label data-error="wrong" data-success="right" for="form34">Mentor name</label>
                </div>


                <div class="md-form mb-5">
                    <i class="fa fa-tag prefix grey-text"></i>
                    <input type="text" id="titlei" class="form-control validate" name="title_issue" required>
                    <label data-error="wrong" data-success="right" for="form34">Title of the Issue</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fa fa-link prefix grey-text"></i>
                    <input type="url" id="linki" class="form-control validate" name="link_issue" required>
                    <label data-error="wrong" data-success="right" for="form29">Issue link</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fa fa-tag prefix grey-text"></i>
                    <input type="text" id="titlep" class="form-control validate" name="title_project" required>
                    <label data-error="wrong" data-success="right" for="form34">Title of the Project</label>
                </div>
                
                <div class="md-form mb-5">
                    <i class="fa fa-link prefix grey-text"></i>
                    <input type="url" id="linkp" class="form-control validate" name="link_project" required>
                    <label data-error="wrong" data-success="right" for="form29">Project link</label>
                </div>

                <div class="row">
                    <div class="md-form mb-6">
                        <i class="fa fa-tag prefix grey-text"></i>
                        <input type="number" min="1" max="3" id="level" class="form-control validate" name="level" required>
                        <label data-error="wrong" data-success="right" for="form32">Level</label>
                    </div>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <div class="md-form mb-6">
                        <i class="fa fa-gift prefix grey-text"></i>
                        <input type="number" id="pts" class="form-control validate" name="points" required>
                        <label data-error="wrong" data-success="right" for="form32">Points</label>
                    </div>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-unique">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
            </div>
        </form>
        </div>
    </div>
</div>



<section class="container issues-container">
    <div id="snackbar"></div>
  <article class="card single-issue" csrf="{{ csrf_token }}">
    <div class="card-body">
      <div class="card-title">
        <h4>Announcements</h4>
      </div>
      <div class="card-text">
          <!-- <p class="notice">
            Winners will of course be getting exciting T Shirts, stickers and other goodies from us. Besides you can win more by following below things.
          </p> -->
          <p class="notice">
            <strong>Important</strong><br />
            <ol>
              <li><p>Everyone must register for getting <a href="https://hacktoberfest.digitalocean.com/"> Hacktoberfest </a> T-shirt <a href="https://hacktoberfest.digitalocean.com/sign_up/register"> here </a></p>
              <li><p>Once you register you can check your progress  <a href="https://hacktoberfest.digitalocean.com"> here </a></p>
            <br>
            <strong>
               <p> Everyone who creates a PR on GitHub must also create a request here. This is compulsory for 
                achieving points for your PRs and becoming eligible for Prizes and Goodies. </p>
            </strong>
                
            </ol>
          </p>
      </div>
      <div class="card-footer">
        <a href="https://contrihub.github.io/#about" class="btn btn-deep-orange">
          See all rules and Notices.
        </a>
      </div>
    </div>
  </article>
  {% for issue in issues %}
    <article class="card single-issue issue-list-item" csrf="{{ csrf_token }}">
      <div class="card-body">
          <div class="card-title">
            <h4>{{forloop.counter0|add:issues.start_index}}. Issue -
              <a href="{{issue.link_issue}}" class="issue-info" issue-id="{{issue.id}}">
                {{issue.title_issue}}
              </a>
              {% if issue.label == 1 %}
                <span class="open pull-right change-label" title="Click to change the label status">OPEN</span>
              {% elif issue.label == 0 %}
                 <span class="closed pull-right change-label" title="Click to change the label status">CLOSED</span>
              {% endif %}
            <h4>
    
            {% if request.user == issue.mentor %}
             <a href="#"><i class="fa fa-trash-o delete" id="del"></i></a>
            {% endif %}
          </div>
          <div class="card-text">
            <p>
              Project - <a href="{{issue.link_project}}" class="project-info"> {{issue.title_project}}</a><br />
              Mentor - <a href="https://github.cpm/{{issue.mentor}}"> {{issue.mentor}}</a><br />
              Label -
                  {% if issue.level == 1 %}
                      Easy
                  {% elif issue.level == 2 %}
                      Medium
                  {% elif issue.level == 3 %}
                      Hard
                  {% endif %}<br>
             Expected Points - {{issue.points}}<br />             
            </p>
            
          </div> 
          {% if request.user.is_staff and request.user == issue.mentor %}
                <a href="" class="badge badge-secondary edit_issue" data-toggle="modal" data-target="#modalContactForm">Edit Issue</a>
          {% endif %}
          {% if request.user.profile.role != 'mentor'  %}
            <div class="md-form">
                <input type="text" name="pr_link" id="form3" class="form-control" required="true" placeholder="PR link here">
                <!-- <label for="form3">PR link here </label> -->
            </div>

            <button class="request btn btn-deep-orange"> request for verification </button>

            <!-- <i class="fa fa-spinner fa-spin fa-1x process"></i></button> -->
          {% endif %}
          
<br>
<br>

          <div class="card-footer" style="margin-top:5px; ">
                <button class="upVote  btn btn-sm btn-info" voting_type="up" issue_id="{{issue.id}}">
                  <i class="fa fa-2x fa-thumbs-up"></i>
                   <span class="upV">

                      {{issue.upvotes.count}}

                   </span>
                </button>

                <button  class="downVote btn btn-sm btn-info"  voting_type="down" issue_id="{{issue.id}}">
                      <i class="fa fa-2x fa-thumbs-down"></i>
                  <span class="downV">

                      {{issue.downvotes.count}}

                  </span> 
                </button>
         </div>

      </div>
    </article>
  {% endfor %}
</section>
{% if issues.has_next %}
  <div class="paginator col col-md-12">
    {% if val %}
        <span id="more-issues" class="more-issues-link" href="?value={{val}}&page={{issues.next_page_number}}">
        </span>
    {% else %}
        <span id="more-issues" class="more-issues-link" href="?page={{issues.next_page_number}}">
        </span>
    {% endif %}
  </div>

 <div class="more-issues-loading container">
      <img src="{% static 'Projects/img/loader.gif' %}" alt="loading more issues" width="60px" style="display:block;margin-left:auto;margin-right:auto;">
  </div>
 
{% endif %}

{% endblock body_content %}


{% block js_extra %}
    <script>
$(document).on("ready",function () {
        //$(".process").hide();
        $(".request").click(function (e) {
            e.preventDefault();
            {% if not request.user.is_authenticated %}
            alert("You need to login first before requesting verification.");
            window.location.href = 'signin';
            {% else %}
            var issue = $(this).closest(".single-issue");
            var pr_link = $("input[name='pr_link']", issue).val();
            console.log(pr_link);
            var issue_id = $(".issue-info", issue).attr('issue-id');
            var csrf = $(".single-issue").attr('csrf');
            // $(".process",this).show();
            if (pr_link != "") {
                $.ajax({
                    url: 'request_pr',
                    data: {
                        'pr_link': pr_link,
                        'issue_id': issue_id,
                        'csrfmiddlewaretoken': csrf,
                    },
                    type: 'post',
                    cache: false,
                    beforeSend: function () {
                        // $(".request").html('<i class="fa fa-spinner fa-spin fa-1x"></i>');
                        $(".process", this).show();
                    },
                    success: function (data) {
                        if (data) {
                            // alert(data);
                            $("#snackbar").html(data);
                            showMessage();
                            // document.location.reload();
                        }
                    },
                    afterSend: function () {
                        // $(".request").html(' request for verification ');
                        $(".process", this).hide();
                    },
                });
            } else {
                alert("First put your PR link with the corresponding issue.");
            }
            {% endif %}
        });

    });

</script>

<script type="text/javascript" src="{% static 'Projects/js/home.js' %}"></script>

{% endblock js_extra %}
