{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ContriHub</title>
    <style src="{% static 'Projects/css/home.css' %}"></style>
    
    <style>

    </style>
</head>
<body>

    <div class="nav">
        <div class="issues">Issues</div>
        <div class="contrihub">ContriHub</div>
        <div class="leaderboard">LeaderBoard</div>
        <div class="profile">Profile</div>
    </div>

</body>
</html>