{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ContriHub</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">  

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'Projects/css/home.css' %}" rel="stylesheet"> 
    <style>

/*    .list_issues{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;        
    }
*/    
    .single_issue{
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    </style>
</head>
<body>

    <div class="nav">
        <div class="issues">Issues</div>
        <div class="contrihub">ContriHub</div>
        <div class="leaderboard">LeaderBoard</div>
        <div class="profile">Profile</div>
    </div>

    <div class="row">
        {% for issue in issues %}
        <div class="col col-md-6 col-md-offset-3 single_issue" csrf="{{ csrf_token }}">

                    Issue - 
                    <a href="{{issue.link_issue}}" class="issue_info" issue-id="{{issue.id}}"> {{issue.title_issue}}</a> <br>
                    
                    Project - 
                    <a href="{{issue.link_project}}"> {{issue.title_project}}</a> <br>
                    
                    Mentor -
                    <a href="https://github.cpm/{{issue.mentor}}"> {{issue.mentor}}</a> <br>
                    
                    Label -
                        {% if issue.level == 1 %}
                            Easy 
                        {% elif issue.level == 2 %}
                            Medium 
                        {% elif issue.level == 3 %}
                            Hard 
                        {% endif %}
                    
                    <br>
                    Your Status - 
                        {% if issue.status == 0 %}
                            Not attempted 
                        {% elif issue.status == 1 %}
                            Attempted and pending for verification 
                        {% elif issue.status == 2 %}
                            successfully solved 
                        {% elif issue.status == 3 %}
                            Your PR was rejected
                        {% endif %}                                
                    <br>
                    <button class="request"> request for verification </button> 
                    <span class"request_sent"></span>
        <hr>
        </div>
        {% endfor %}
    </div>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $(".request").click(function(e){
            e.preventDefault();
            $(".request_sent").html("Mentor has received your request. Soon you'll see the result for this pr.");
            var issue=$(this).closest(".single_issue");
            var issue_id = $(".issue_info", issue).attr('issue-id');
            var csrf=$(".single_issue").attr('csrf');

            $.ajax({
                url:'request_pr',
                data:{
                    'issue_id': issue_id,
                    'csrfmiddlewaretoken':csrf,
                },
                type:'post',
                cache:false,

                success: function(){
                    sleep(2);
                    $(".request_sent").html("");                    
                }
            });
        });
    });
</script>

</body>
</html>

