{% extends "Projects/base.html" %}
{% load staticfiles %}

{% block title_extra %}LeaderBoard - {% endblock title_extra %} ContriHub

{% block head_extra %}
<link href="{% static 'Projects/css/navbar.css' %}" rel="stylesheet">
{% endblock head_extra %}


{% block body_content %}
{% include 'Projects/navbar.html' %}

<div class="container">
  <div class="card" style="margin-top: 100px">

    <div class="card-body" style="margin-bottom:20px">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col"><strong>Rank</strong></th>
            <th scope="col"><strong>User</strong> (Github Profile)</th>
            <th scope="col"><strong>Score</strong></th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td><a href="https://github.com/{{user.username}}">{{user.username}}</a></td>
              <td>{{user.profile.points}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
      <div class="card-footer">

          <ul  class="pagination justify-content-center">
            <li class="page-item">
                {% if users.has_previous %}
                    <a href="?page=1"  class="btn btn-primary page-link">&laquo; first</a>
                    <a href="?page={{ users.previous_page_number }}" class="btn btn-success page-link">previous</a>
                {% endif %}
            </li>
                <li class="page-item">
                   <button class="btn" style="color:black;">Page {{ users.number }} of {{ users.paginator.num_pages }}</button>
                </li>
              <li class="page-item">
                {% if users.has_next %}
                    <a href="?page={{ users.next_page_number }}" class="btn btn-success page-link">next</a>
                    <a href="?page={{ users.paginator.num_pages }}" class="btn btn-primary page-link" style="float:right;">last &raquo;</a>
                {% endif %}
            </li class="page-item">
        </ul>
       </div>

</div>

  </div>



{% endblock body_content %}





{% block js_extra %}
{% endblock js_extra %}