{% extends "Projects/base.html" %}
{% load staticfiles %}

{% block title_extra %}LeaderBoard - {% endblock title_extra %} ContriHub

{% block head_extra %}

{% endblock head_extra %}


{% block body_content %}
{% include 'Projects/navbar.html' %}

<div class="container">
  <div class="card" style="margin-top: 100px">

    <div class="card-body" style="margin-bottom:20px">
      
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col"><strong>Rank</strong></th>
            <th scope="col"><strong>User</strong> (Github Profile)</th>
            <th scope="col"><strong>Score</strong><br> (click on score to see Contributions)</th>
          </tr>
        </thead>
        <tbody class="infinite-container">
          
          {% for user in users %}
            <tr class="infinite-item">
              <th scope="row">{{forloop.counter0|add:users.start_index}}</th>
              <td><a href="https://github.com/{{user.username}}">{{user.username}}</a>
              {% if user == users.0 and not users.has_previous %}
                <small style="color:red"> 
                  (expectd winner <i class="fa fa-trophy" aria-hidden="true"></i>) 
                </small>
              {% elif user == users.1 and not users.has_previous %}
                <small style="color:rgb(76, 77, 170)"> 
                  (expectd 2nd winner <i class="fa fa-trophy" aria-hidden="true"></i>) 
                </small>
              {% elif user == users.2 and not users.has_previous %}
              <small style="color:rgb(26, 160, 33)"> 
                (expectd 3rd winner <i class="fa fa-trophy" aria-hidden="true"></i>) 
              </small>
              {% endif %}
              </td>
              <td><a href="{%url 'contri_user' user.username %}" style="color:blue;">{{user.profile.points}}</a></td>
            </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
     
</div>

{% if users.has_next %}
  <a class="infinite-more-link" href="?page={{users.next_page_number}}"></a>

  <div class="loading">
    <img src="{% static 'Projects/img/loader.gif' %}" alt="loading more issues" width="60px" style="display:block;margin-left:auto;margin-right:auto;">
  </div>

{% endif %}
</div>


{% endblock body_content %}



{% block js_extra %}
  <script>
      $(document).ready(function(){
          var infiniteScroll = new Waypoint.Infinite({
          element: $('.infinite-container')[0],
          onBeforePageLoad: function () {
            $('.loading').show();
          },
          onAfterPageLoad: function () {
            $('.loading').hide();
          }
        });
      });
  </script>
{% endblock js_extra %}
