{% extends "Projects/base.html" %}
{% load staticfiles %}

{% block title_extra %}LeaderBoard - {% endblock title_extra %} ContriHub

{% block head_extra %}

{% endblock head_extra %}


{% block body_content %}
{% include 'Projects/navbar.html' %}

<div class="container">
  <div class="card" style="margin-top: 100px">

    <div class="card-body" style="margin-bottom:20px">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col"><strong>Rank</strong></th>
            <th scope="col"><strong>User</strong> (Github Profile)</th>
            <th scope="col"><strong>Score</strong><br> (click on score to see Contributions)</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td><a href="https://github.com/{{user.username}}">{{user.username}}</a></td>
              <td><a href="{%url 'contri_user' user.username %}" style="color:blue;">{{user.profile.points}}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
     <div class="card-footer">
      <p class="text-muted">* Click on score to see contributions from user</p>
    </div>
</div>
</div>

{% endblock body_content %}



{% block js_extra %}
{% endblock js_extra %}