<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand" href="https://contrihub.github.io">
        <strong>ContriHUB</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://contrihub.github.io">ContriHUB
              <span class="sr-only">(current)</span>
            </a>
          </li>
<li class="nav-item dropdown">

                    <form method="POST" action="{% url 'home' %}">
                        {%csrf_token%}
                        <input type="hidden" name="value" value="" id="val">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Issues
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


             <h6 class="dropdown-header">Projects</h6>


          <button class="dropdown-item" href="#" value="contrihub-18">Contrihub-18</button>
          <button class="dropdown-item" href="#" value="sac-portal" onclick="value_filter('sac')">Sac-Portal</button>
                      <button class="dropdown-item" href="#" value="contrihub_git" onclick="value_filter('contrihub.git')">Contrihub.github.io</button>
          <button class="dropdown-item" href="#" value="chrome-it" onclick="value_filter('chrome')">Chrome-it</button>
                      <button class="dropdown-item" href="#" value="stare" onclick="value_filter('stare')">Stare</button>
          <button class="dropdown-item" href="#" value="chef-recommender" onclick="value_filter('chef')">Chef-recommender</button>


          <h6 class="dropdown-header">Mentors</h6>
                      <button class="dropdown-item" href="#"  onclick="value_filter('deepak')">Deepak Bharti</button>
                      <button class="dropdown-item" href=""  onclick="value_filter('abhey')">Abhey rana</a>
          <button  class="dropdown-item" href="#"  onclick="value_filter('akshay')">Akshay Sharma</button>


            <div class="dropdown-divider"></div>

          <button class="dropdown-item" value="points" name="points" onclick="value_filter('points')">Points</button>
                    </form>
        </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'leaderboard' %}">LeaderBoard</a>
          </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile' request.user.username %}">{{request.user.username}}
                {% if request.user.profile.role == 'mentor' %}
                    (Mentor)
                {% else %}
                    (Student)
                {% endif %}
                </a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signin' %}">Login</a>
            </li>
          {% endif %}
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a href="https://www.facebook.com/groups/ContriHUB/" class="nav-link">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/ContriHUB" class="nav-link border border-light rounded"
             >
              <i class="fa fa-github mr-2"></i>ContriHUB GitHub
            </a>
          </li>
        </ul>

      </div>
    </div>
</nav>
<!--Javascript for applying filter to issues-->
<script>
 function value_filter(val){
   console.log(val);
  var tag = document.getElementById('val');
   tag.setAttribute("value",val);
   console.log(tag);
 }

</script>