{% extends "Projects/base.html" %}
{% load staticfiles %}

{% block title_extra %}Home - {% endblock title_extra %}


{% block head_extra %}
<link href="{% static 'Projects/css/navbar.css' %}" rel="stylesheet"> 
<style>

.single_issue{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.pr_types ul li {
    list-style-type: none;
    padding: 3px;
    font-size: 16px;    
    cursor:pointer;
}

.pr_types ul li a {
    list-style-type: none;
    padding: 3px;
    font-size: 16px;    
    cursor:pointer;
}

.ind_pr {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    padding:10px;
    border-radius: 30px;
    z-index: 2;
}
.ind_pr a { 
    background-color: black;
    color: white; 
    text-decoration: none; 
    border-radius: 7px;
}
</style>
{% endblock head_extra %}


{% block body_content %}
{% include 'Projects/navbar.html' %}
<div class="row">
    <div class="col col-md-2 col-md-offset-1 pr_types">
        <br>
        <ul>
            <li style="background-color:blue;" class="all">All Issues</li> <br>
            <li style="background-color:violet;" class="pending"> Pending PRS</li> <br>
            <li style="background-color:snow;" class="vclosed">Verified and closed</li> <br>
            <li style="background-color:wheat;" class="unvclosed">Not Verified and closed</li> <br>
            <hr>
            <li style="background-color:cadetblue;"><a href="{% url 'logout' %}?next=/">LogOut</a></li>
        </ul>
    </div>
    <div class="col col-md-6 col-md-offset-1 issues_all"> 
            <br>
            {% if all_prs %}
                {% for pr in all_prs %}
                <div class="ind_pr" 
                style="background-color:{% if pr.issue.level == 1 %}green{% elif pr.issue.level == 2 %}pink{% else %}orange{% endif %}">
                {{forloop.counter}}. Issue - 
                <a href="{{pr.issue.link_issue}}" class="issue_info" issue-id="{{pr.issue.id}}"> {{pr.issue.title_issue}}</a> <br>
                
                Project - 
                <a href="{{pr.issue.link_project}}"> {{pr.issue.title_project}}</a> <br>
                
                Mentor -
                <a href="https://github.cpm/{{pr.issue.mentor}}"> {{pr.issue.mentor}}</a> <br>
                
                Label -
                    {% if pr.issue.level == 1 %}
                        Easy 
                    {% elif pr.issue.level == 2 %}
                        Medium 
                    {% elif pr.issue.level == 3 %}
                        Hard 
                    {% endif %}                              
                <br>
                </div>
                {% endfor %}
            {% endif %}
    </div>   
    
    {% include 'Projects/prs_nattempted.html' %}
    {% include 'Projects/prs_vclosed.html' %}
    {% include 'Projects/prs_unvclosed.html' %}
    {% include 'Projects/prs_pending.html' %}
    
</div>
{% endblock body_content %}


{% block js_extra %}
<script type="text/javascript"> 
    $(document).ready(function(){
        $(".process").hide();
        $(".vclose,.unvclose").click(function(e){
            e.preventDefault();
            var pr=$(this).closest(".ppr");
            var pr_id = $(".pr_info", pr).attr('pr-id');
            var csrf=$(".ppr").attr('csrf');
            // $(".process",this).show();

            $.ajax({
                url:'response_pr',
                data:{
                    'pr_id': pr_id,
                    'csrfmiddlewaretoken':csrf,
                },
                type:'post',
                cache:false,
                beforeSend: function(){
                    // $(".request").html('<i class="fa fa-spinner fa-spin fa-1x"></i>');
                    //$(".process",this).show();
                },
                success: function(data){
                    if(data=="success"){
                        alert("Successfully updated the status of this Pull Request");                    
                    }
                },
                afterSend: function(){
                    // $(".request").html(' request for verification ');
                    // $(".process",this).hide();
                },
            });
        });
        
    });
</script>


<script type="text/javascript">

    $(document).ready(function(){
        $(".prs_pending").hide();
        $(".prs_nattempted").hide();
        $(".prs_vclosed").hide();
        $(".prs_unvclosed").hide();

        $(".all").click(function () {
            $(".issues_all").show();
            $(".prs_pending").hide();
            $(".prs_nattempted").hide();
            $(".prs_vclosed").hide();
            $(".prs_unvclosed").hide();
        });
        $(".pending").click(function () {
            $(".prs_pending").show();
            $(".issues_all").hide();
            $(".prs_nattempted").hide();
            $(".prs_vclosed").hide();
            $(".prs_unvclosed").hide();
        });
        $(".vclosed").click(function () {
            $(".prs_vclosed").show();
            $(".prs_pending").hide();
            $(".issues_all").hide();
            $(".prs_nattempted").hide();
            $(".prs_unvclosed").hide();
        });
        $(".nvclosed").click(function () {
            $(".prs_unvclosed").show();
            $(".prs_pending").hide();
            $(".issues_all").hide();
            $(".prs_nattempted").hide();
            $(".prs_vclosed").hide();
        });
        $(".nattempted").click(function () {
            $(".prs_nattempted").show();
            $(".prs_pending").hide();
            $(".issues_all").hide();
            $(".prs_vclosed").hide();
            $(".prs_unvclosed").hide();
        });


    })      
    </script>
{% endblock js_extra %}
    
