        <div class="col col-md-6 col-md-offset-1 prs_unattempted">
                <br><br>
                {% if prs_unattempted %}
                    {% for pr in prs_unattempted %}
                    <div class="ind_pr" 
                style="background-color:{% if pr.issue.level == 1 %}green{% elif pr.issue.level == 2 %}pink{% else %}orange{% endif %}">

                    {{forloop.counter}}. Issue - 
                    <a href="{{pr.issue.link_issue}}" class="issue_info" issue-id="{{pr.issue.id}}"> {{pr.issue.title_issue}}</a> <br>
                    
                    Project - 
                    <a href="{{pr.issue.link_project}}"> {{pr.issue.title_project}}</a> <br>
                    
                    Mentor -
                    <a href="https://github.cpm/{{pr.issue.mentor}}"> {{pr.issue.mentor}}</a> <br>
                    
                    Label -
                        {% if pr.issue.level == 1 %}
                            Easy 
                        {% elif pr.issue.level == 2 %}
                            Medium 
                        {% elif pr.issue.level == 3 %}
                            Hard 
                        {% endif %}                              
                    <br>
                    </div>
                {% endfor %}
                {% else %}
                    {% if request.user.profile.is_student == 1 %}
                        <span> You haven't attempted any issue yet. </span>
                    {% else %}
                        <span> There is no attempts for any of your issues yet. </span>
                    {% endif %}
                {% endif %}
        </div> 