<div class="col prs_vclosed">
    <br>
    {% if prs_vclosed %}
    <div class="container">
        {% for pr in prs_vclosed %}
        <div class="card ppr" csrf="{{ csrf_token }}">
            <div class="card-body"> 
                <div class="card-title">
                    {{forloop.counter}}. Issue - 
                    <a href="{{pr.issue.link_issue}}" class="pr_info" pr-id="{{pr.id}}"> {{pr.issue.title_issue}}</a> <br>
                </div>
                <div class="card-text">
                    {% if request.user == pr.from_user or request.user.is_staff %}
                        <a href="#"><i class="fa fa-trash-o delete" style="float:right;"></i></a>     
                    {% endif %}

                    {% if pr.pr_link %}
                        Pr Link - <a href="{{pr.pr_link}}"> see pr </a> <br>
                    {% endif %}

                    From User - <a href="https://github.com/{{pr.from_user.username}}"> {{pr.from_user.username}} </a> <br>
                    

                    Project - 
                    <a href="{{pr.issue.link_project}}"> {{pr.issue.title_project}}</a> <br>

                    Mentor -
                    <a href="https://github.com/{{pr.issue.mentor}}"> {{pr.issue.mentor}}</a> <br>

                    Label -
                    {% if pr.issue.level == 1 %}
                    Easy 
                    {% elif pr.issue.level == 2 %}
                    Medium 
                    {% elif pr.issue.level == 3 %}
                    Hard 
                    {% endif %}                              
                    <br>
                    <p style="margin:5px">Expected Points - {{pr.issue.points}}</p>
                    <p style="color:green;margin:5px">Bonus Points - {{pr.bonus_points}}</p>
                    <p style="color:red;margin:5px">Deducted Points - {{pr.deducted_points}}</p>
                    {% if page_user.profile.role == 'mentor' and page_user.is_staff %}
                    <button class=" btn btn-danger unvclose">Reject</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>

    {% else %}
    {% if page_user.profile.role == 'student' %}
    <h3 style="color: white"> You have pull requests which are not yet verified :(. </h3>
    {% else %}
    <h3 style="color: white"> You are a mentor and you aren't suppose to have any such prs :-) </h3>
    {% endif %}
    {% endif %}
</div> 