.error_signin, .error_register {
        color:brown;
        padding: 2px;
        font-size: 12px;
    }

body {
        display: flex;
        align-items: center;
        justify-content: center;
    }

.registration {
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
}
.signin{
    background-color: rgb(196, 230, 218);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px;
    min-height: 200px;
    align-items: center;
    justify-content: center;
}
.signup{
    background-color: rgb(91, 107, 85);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px;
    min-height: 200px;
    align-items: center;
    justify-content: center;

}

.signin_text {
    background-color: rgb(36, 102, 80);
    display: flex; 
    flex-wrap: wrap;
    width:50%;
    height: 30px;
    padding: 0px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.signup_text{
    background-color: rgb(96, 247, 37);
    display: flex; 
    flex-wrap: wrap;
    width:50%;
    height: 30px;
    padding: 0px;
    cursor: pointer;
    align-items: center;
    justify-content: center;

}
.forgot_pass_text {
    background-color: rgb(36, 102, 80);
    display: flex; 
    flex-wrap: wrap;
    width:50%;
    height: 30px;
    padding: 0px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
h1 {
    background-color: blueviolet;
    display: flex;
    width: 100%;
    text-align: center;
    padding: 10px;

}

input { padding: 5px; margin: 3px; width: 300px;}
option, select { padding: 5px; margin: 3px; width: 100px;}
button { cursor: pointer; padding: 4px; margin: 3px; width: 300px;}
